In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv('data/Sales Team Analysis - All Data.csv')
df.head()

,Opportunity ID,Account ID 18 Digits,Opportunity Owner,Amount (converted),Stage,Created Date,Close Date,Age,Lead Source,Employees,Industry,Market Segment,Reporting Manager,Territory,Month&Year,Created Month & Year
0,00606000012b5JF,0010600001z3JtmAAE,AE 5,4000.00,Closed Lost,1/8/2022,1/25/2022,17,Partner Referral,NaN,Food & Beverage - Restaurants,NaN,Director of Sales 2,EMEA,Jan 2022,Jan 2022
1,00606000012b3w0,0010600001z3DY6AAM,AE 6,4235.35,Closed Lost,1/6/2022,2/2/2022,27,Inbound,NaN,Agencies / Consultancies / Software Providers ...,NaN,Director of Sales 2,EMEA,Feb 2022,Jan 2022
2,00606000012b4vX,0010600001z3IFzAAM,AE 5,4000.00,Closed Won,1/8/2022,2/7/2022,30,Inbound,476.0,Food & Beverage - Delivery Services,Corporate,Director of Sales 2,EMEA,Feb 2022,Jan 2022
3,00606000012bJiw,0010600001z5DWaAAM,AE 4,4235.35,Closed Lost,2/1/2022,2/12/2022,11,Inbound,NaN,Agencies / Consultancies / Software Providers,NaN,Director of Sales 2,EMEA,Feb 2022,Feb 2022
4,00606000012bCpU,0010600001z4R6PAAU,AE 4,4000.00,Closed Lost,1/20/2022,2/25/2022,36,Inbound,NaN,Mobility & Transportation - Logistics,NaN,Director of Sales 2,EMEA,Feb 2022,Jan 2022

In [3]:
#ydataprofiling

'''# Generate the report
profile = ProfileReport(df,title="Sales Analysis")
# Save the report to .html
profile.to_file("Sales Analysis.html")'''

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]